@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Welcome to Budget Peeker!</h1>
    <hr class="my-4"/>
    <p style="font-size: 20px;"><strong>What is Budget Peeker?</strong></p>
    <p>Budget Peeker is exactly what the name implies - a tool for taking a peek at Sacramento's approved budgets from years
        2015 to 2018. Users can create custom reports related to their financical interest in Sacramento's approved and export
        their data to CSV format to further analyze with software of their choosing.
    </p>
    <p style="font-size: 20px;"><strong>The Data?</strong></p>
    <p>Budget Peeker sources its data from the <a href="http://data.cityofsacramento.org/datasets/approved-budget-fy-2015-fy-2018">City of Sacramento's</a>
        open data portal, selecting data related fiscal year, operating unit, department division, and account category.
    </p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" asp-controller="Budget" asp-action="Index" role="button">Budget Data</a>
    </p>
    
    <hr class="my-4"/>
    <p style="font-size: 20px;"><strong>Like the site? Leave a message!</strong></p>
    <p>
        Seeing as this is a site for the people of Sacramento, by the the people of Sacramento, I encourage any and all 
        constructive discussion. I'm always looking for ways to improve Budget Peeker, so feel free to leave a comment if 
        you letting me know what you think. Find something interesting in the data? Let us know!
    </p>
    <div class="container">
        <p>Checkout my personal site, or find me on LinkedIn and GitHub:</p>
        <span class="col-sm-4"><a href="https://joey32793.github.io" target="_blank"><i id="personal-link" class="fas fa-code fa-2x"></i></a></span>
        <span class="col-sm-4"><a href="https://linkedin.com/in/JoeyMckenzie" target="_blank"><i id="personal-link" class="fab fa-linkedin fa-2x"></i></a></span>
        <span class="col-sm-4"><a href="https://github.com/joey32793/BudgetPeeker/tree/preview1/BudgetPeeker" target="_blank"><i id="personal-link" class="fab fa-github fa-2x"></i></a></span>
    </div>
    
    <div id="disqus_thread"></div>
    <script>
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://https-localhost-5001.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
